{% extends 'layout/default.twig' %}

{% block isi %}
	{% if pesan %}
		<div class="alert alert-warning">{{ pesan }}</div>
	{% endif %}
    <form method="post">
    	<div class="form-group">
    		<label for="">Username</label>
    		<input type="text" class="form-control" required="" name="username">
    	</div>
    	<div class="form-group">
    		<label for="">Password</label>
    		<input type="password" class="form-control" required="" name="password">
    	</div>
    	<div class="form-group">
    		<input type="submit" class="btn btn-success" value="Oke">
    	</div>
    </form>
{% endblock %}