<!DOCTYPE html>
<html>
<head>
	<title>{% block judul %}{% endblock %}Tes Twig</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
	{% block isi %}{% endblock %}
</body>
</html>