<!DOCTYPE html>
<html>
<head>
	<title>{% block judul %}{% endblock %}Zen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="navbar-heading">
			<div class="container">
				<a href="{{ site_url() }}" class="navbar-brand">Zen</a>
			</div>
		</div>
	</div>
</body>
</html>