<div class="panel panel-default">
	<div class="panel-heading">Admin</div>
	<div class="list-group">
		{% if status == 'masuk' %}
			<a href="#!" class="list-group-item">Tulisan Baru</a>
			<a href="#!" class="list-group-item">Logout</a>	
		{% else %}
			<a href="#!" class="list-group-item">Login</a>    
		{% endif %}
	</div>
</div>